*{
    background-color: #ffffff !important;
}
/* barra de navegacion */
.navbar {
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: 'Roboto Mono', monospace;
    padding: 2rem;
    font-weight: 600;
}

#navbar-color *{
    background-color: #8a5a41 !important;
    color: #ffffff !important;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    margin-left: -80px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

/* adaptable responsivo */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

/* seccion hero */
section{
    background-size: cover;
    height: 100vh;
    display: flex;
    margin: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

.hero-principal-img{
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media screen and (min-width: 700px) {
    .hero-principal-img{
        max-width: 600px;
    }
}

.hero{
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 10px;
}

section h1{
    font-size: 2rem;
    font-weight: 700;
    color: #604232 !important;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section h2{
    font-size: 1rem;
    font-weight: 500;
    color: #604232 !important;
    margin-bottom: 20px;
}

.inicio-hr hr{
    width: 50%;
    background-color: #604232;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 50px;
    float: left;
    border-width: 4px;
}

.fin-hr hr{
    width: 50%;
    background-color:#604232;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 10px;
    float: right;
    border-width: 4px;
}

.inicio-hr::after {
    content: "";
    display: block;
    clear: both;
}

.fin-hr::after {
    content: "";
    display: block;
    clear: both;
}





