/* barra de navegacion */
.navbar {
    background-color: #000;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    padding: 2rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* adaptable */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

