*{
    background-color: #efeee9 !important;
}
/* barra de navegacion */
.navbar {
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    padding: 2rem;
    font-weight: 600;
}

#navbar-color *{
    background-color: #ebe9df !important;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    margin-left: -80px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

/* adaptable responsivo */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

/* seccion hero */
section{
    background-size: cover;
    height: 100vh;
    display: flex;
    margin: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section img{
    padding: 10px;
}

.hero{
    min-height: 450px;
    text-align: center;
}

section h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}



